__pycache__
.venv/
.ipynb_checkpoints/
.DS_Store
experiments/*
jobs/*
trash/
.hydra/
.vscode/
wandb/
lightning_logs/
*.csv
slurm-*
*.pyc
demo_videos/
*.ipynb
!notebooks/colab_demo.ipynb
*.ckpt
multirun/
feats/
pose/
extractions/
launch_*
checkpoints/
annotations/
pyskl/
*.pt
data/ChildPlay-gaze
data/childplay_hand
data/
*.mp4
*.mov
*.avi
*.mkv
*.webm
slurm*
logs
6mA6UA/
.ruff_cache
demo_out/*